body { 
	background: url(fonas.jpg);
	background-color: #e7e4e1; 
	font-family: "Josefin Sans",sans-serif;
    font-weight: 300;
    color: #000;
    font-size: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

.nuoroda {
	padding: 0.5em;
}

.nuoroda:hover { 
	text-decoration: underline;
}

.tekstas { 
    max-width: 500px;
    padding-bottom: 0.5em;
    font-weight: 300;
    white-space: pre-line;
    text-align: center;
    margin: 1em auto;
    font-size: 16px;
    line-height: 24px;
}

.paroda {
    margin-bottom: 2em;
}

.nuotrauka {
    max-width: 90%;
    margin: auto;
}

.aprasymas {
    text-align: center;
}

.pavadinimas {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.autorius {

}

.tipas {

}

.data {

}   

.tekstas {

}